.dropdown{
  position: relative;
}
.dropdown button{
  display: inline-block;
  background-color: gray;
  color: white;
  border: none;
  padding: 10px 15px;
  font-weight: bold;
}
.dropdown .content ul{
  padding: 0;
  margin: 0;
}
.dropdown .content ul li{
  position: absolute;

  display: block;
  background-color: hsl(0,0%,70%);
  padding: 8px 15px;
  list-style: none;
  width: 150px;
}