.pagination{
  text-align: center;
}
.pagination a{
  padding: 20px 15px;
  color: black;
  text-decoration: none;
  display: inline-block;
  border-radius: 7px;
}
.pagination a.active{
  background-color: hsl(203.5,60.8%,46%);
}
.pagination a:hover:not(.active){
  background-color: hsl(203.5,60.8%,85%);
}