body{
    display: flex;
    justify-content: center;
}
.box{
    border: 4px outset;
    width: 400px;
    height: 450px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.photo{
    margin-top: 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
.name{
   margin-top: 20px;
   margin-bottom: 0;
}
.title{
    margin: 10px;
    border: 2px inset;
}
.title:hover{
    color: hsl(0, 0%, 32%);
}
.para{
    margin: 0;
}
.Interaction{
    display: inline-block;
}
.follow{
    border: 1px solid hsl(219, 100%, 56%);
   border-radius: 5px;
   background-color: hsl(219, 100%, 56%);
   display: inline-block;
   width: 150px;
   height: 50px;
   margin-top: 20px;
   text-align: center;
}
.follow:hover{
 background-color: hsl(219, 100%, 66%);
}
.text1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.message{
    margin-top: 20px;
    margin-right: 2px;
    display: inline-block;
    width: 150px;
    height: 50px;
    border: 2px outset;
     border-radius: 5px;
    text-align: center;
}
.message a{
    text-decoration: none;
}
.message:hover{
    background-color: hsl(0, 0%, 90%);
}
.text2{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.icons{
    margin-top: 50px;
}
#fb{
    color: hsl(224, 100%, 50%);
}
#insta{
    color: hsl(0, 90%, 44%);
}
#fb:hover{
    color: hsl(224, 100%, 65%);
}
#insta:hover{
     color: hsl(0, 90%, 65%);
}